/* .mtcbg {
    background-image: url("../assets/Teachingimg1.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

} */



.dark-overlay {
    position: absolute;
    inset: 0;
    /* Covers the entire div */
    background:
        linear-gradient(to top right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 60%);

    pointer-events: none;
    /* Ensures interactions pass through */
    border-radius: 12px;
    /* Match the image's rounded corners */
}

.relative {
    overflow: visible;
}

section {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.leading-16 {
    transform: translate(-50%, -50%);
}

.review-wrp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 0;
    gap: 2rem;
    row-gap: 15rem;
}